.booking-success-grid {
    display: grid;
    grid-template-columns: 1fr 40rem;
    width: 110rem;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: #565656;
}

.booking-success-body-col {
    grid-column: 1 / 2;
}

.booking-success-room-col {
    grid-column: 2 / 3;
    padding-left: 2rem;
    border-left: 1px solid #565656;
}

.booking-success__section-heading {
    letter-spacing: .15rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 1.5rem;
}