@page
@model WhiteSandsMVC.Pages.Admin.AdminModel

@{
    ViewBag.Title = "Admin - Home";
}


        <div class="admin-heading">
            <h1 class="h1-heading">Razor Admin</h1>
            <a class="large-btn">Create Booking</a>
        </div>


