* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: var(--font-sans);
}

.header {
    position: relative;
}

button {
    font-family: var(--font-sans);
}

/*@media only screen and (min-width: 1200px) {
    html {
        font-size: 75%;
    }
}*/

@media only screen and (max-width: 500px) {
    html {
        font-size: 55%;
    }
}