.section-heading {
    font-family: var(--font-sans);
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 200;
}

.h3-heading {
    font-family: var(--font-sans);
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: .3rem;
    font-weight: 600;
}

.h4-heading {
    font-family: var(--font-sans);
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: .2rem;
}

.text-sans {
    font-family: var(--font-sans);
    letter-spacing: .2rem;
}

.text-serif {
    font-family: var(--font-text);
    font-size: 1.8rem;
    line-height: 2.5rem;
    letter-spacing: .03rem;
}

.visibility-hidden {
    visibility: hidden;
}