@{

}

<nav class="nav nav--black">
    <div class="nav__left-flex-container">
        <div class="logo">
            <a asp-controller="home" asp-action="index"><div class="logo__svg"></div></a>
        </div>
        <ul class="nav__ul">
            <li><a asp-controller="home" asp-action="index" class="nav__link">Resort Overview</a></li>
            <li><a asp-controller="home" asp-action="accomodations" class=@(ViewBag.Title == "Accomodations" ? "nav__link nav__link--active" : "nav__link")>Accomodations</a></li>
            <li><a asp-controller="home" asp-action="media" class=@(ViewBag.Title == "Media" ? "nav__link nav__link--active" : "nav__link")>Photo Gallery</a></li>
            <li><a asp-controller="home" asp-action="amenities" class=@(ViewBag.Title == "Amenities" ? "nav__link nav__link--active" : "nav__link")>Activities</a></li>
        </ul>
    </div>

    @if (ViewBag.Title != "Sign In")
    {
        @if (User.IsInRole("Admin"))
        {
            <div class="nav__right-flex-container">
                <a asp-controller="admin" asp-action="index" class="nav__link nav__link--profile">Admin Page</a>
                <button class="large-btn large-btn--inverse large-btn--check-rates" id="check-rates-open-btn">Check rates</button>
            </div>
        }
        else
        {
            <div class="nav__right-flex-container">
                <a asp-controller="profile" asp-action="index" class="nav__link nav__link--profile">My Profile</a>
                <button class="large-btn large-btn--inverse large-btn--check-rates" id="check-rates-open-btn">Check rates</button>
            </div>
        }


    }
</nav>