<section class="discount">
    <hr class="discount__hr discount__hr-thick discount__hr-thick--top" />
    <hr class="discount__hr discount__hr-thin discount__hr-thin--top" />
    <div class="discount__content-container">
        <div class="discount__content">
            <p class="discount__title">Featured Offer</p>
            <h4 class="discount__heading">Weekend getaway discount</h4>
            <p class="discount__text">
                Enjoy a 15% discount and daily buffet breakfast when you
                stay in a one-bedroom resident suite for three or more
                nights.
            </p>
            <div class="discount__buttons-container">
                <a href="#" class="large-btn discount__large-btn">Details</a>
                <a href="#" class="small-btn discount__small-btn">All offers</a>
            </div>
        </div>
        <img src="/images/room4.jpg" alt="" class="discount__img" />
    </div>

    <hr class="discount__hr discount__hr-thin discount__hr-thin--bottom" />
    <hr class="discount__hr discount__hr-thick discount__hr-thick--bottom" />
</section>