<nav class="nav" id="nav">
    <div class="nav__left-flex-container">
        <div class="logo">
            <a href="#"><div class="logo__svg"></div></a>
        </div>
        <ul class="nav__ul">
            <li><a href="#" class="nav__link nav__link--active">Resort Overview</a></li>
            <li><a asp-controller="home" asp-action="accomodations" class="nav__link">Accomodations</a></li>
            <li><a asp-controller="home" asp-action="media" class="nav__link">Photo Gallery</a></li>
            <li><a asp-controller="home" asp-action="amenities" class="nav__link">Activities</a></li>
        </ul>
    </div>

    @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
    {
        <div class="nav__right-flex-container">
            <a asp-controller="admin" asp-action="index" class="nav__link nav__link--profile">Admin Page</a>
            <button class="large-btn large-btn--inverse large-btn--check-rates" id="check-rates-open-btn">Check rates</button>
        </div>
    }
    else
    {
        <div class="nav__right-flex-container">
            <a asp-controller="profile" asp-action="index" class="nav__link nav__link--profile">My Profile</a>
            <button class="large-btn large-btn--inverse large-btn--check-rates" id="check-rates-open-btn">Check rates</button>
        </div>
    }

</nav>