<nav class="nav" id="nav">
    <div class="logo">
        <a href="#"><div class="logo__svg"></div></a>
    </div>
    <ul class="nav__ul">
        <li><a href="#" class="nav__link nav__link--active">Resort Overview</a></li>
        <li><a href="#" class="nav__link">Accomodations</a></li>
        <li><a href="#" class="nav__link">Photos & Videos</a></li>
        <li><a href="#" class="nav__link">Activities</a></li>
    </ul>
</nav>