<footer class="footer">
    <div class="footer-logo">
        <div class="footer-logo__svg"></div>
        <p class="footer-logo__text">White Sands Resort</p>
    </div>
    <div class="footer-lists">
        <ul class="footer-lists__list footer-lists__list--about">
            <li class="footer-lists__heading">About</li>
            <li class="footer-lists__item"><a href="#" target="_blank" class="footer-link">About us</a></li>
            <li class="footer-lists__item"><a href="#" target="_blank" class="footer-link">Careers</a></li>
            <li class="footer-lists__item"><a href="#" target="_blank" class="footer-link">Contact Us</a></li>
        </ul>
        <ul class="footer-lists__list footer-lists__list--reservations">
            <li class="footer-lists__heading">Reservations</li>
            <li class="footer-lists__item"><a href="#" target="_blank" class="footer-link">Request an invoice</a></li>
            <li class="footer-lists__item"><a href="#" target="_blank" class="footer-link">Find a reservation</a></li>
            <li class="footer-lists__item"><a href="#" target="_blank" class="footer-link">Email Preferences</a></li>
        </ul>
        <ul class="footer-lists__list footer-lists__list--more">
            <li class="footer-lists__heading">More</li>
            <li class="footer-lists__item"><a href="#" target="_blank" class="footer-link">Residences</a></li>
            <li class="footer-lists__item"><a href="#" target="_blank" class="footer-link">Private Retreats</a></li>
            <li class="footer-lists__item"><a href="#" target="_blank" class="footer-link">Weddings</a></li>
            <li class="footer-lists__item"><a href="#" target="_blank" class="footer-link">Gift Cards</a></li>
        </ul>
    </div>

    <div class="social-media-icons">
        <a href="https://www.facebook.com" target="_blank" class="footer-icon__link"><div class="footer-icon footer-icon--facebook"></div></a>
        <a href="https://www.instagram.com" target="_blank" class="footer-icon__link"><div class="footer-icon footer-icon--instagram"></div></a>
        <a href="https://www.twitter.com" target="_blank" class="footer-icon__link"><div class="footer-icon footer-icon--twitter"></div></a>
        <a href="https://www.youtube.com" target="_blank" class="footer-icon__link"><div class="footer-icon footer-icon--youtube"></div></a>
    </div>
    <hr class="footer-hr">
    <ul class="footer-policies">
        <li class="footer-policy"><a href="#" target="_blank" class="footer-policy__link">Legal Notice</a></li>
        <li class="footer-policy"><a href="#" target="_blank" class="footer-policy__link">Privacy Policy</a></li>
        <li class="footer-policy"><a href="#" target="_blank" class="footer-policy__link">Accessibility Policy</a></li>
    </ul>
    <p class="footer-copyright">&copy;Lorem, ipsum dolor. Design inspired by the Four Seasons website.</p>

</footer>