<nav class="mobile-nav">
    <div class="mobile-nav__logo">
        <a href="#"><div class="mobile-nav__svg"></div></a>
    </div>
    <div class="mobile-nav__btn-container">
        <div class="mobile-nav__open" id="open-btn">
            <span class="hamburger"></span>
        </div>
    </div>
</nav>

<div class="backdrop" id="backdrop"></div>

<div class="side-drawer" id="nav-drawer">
    <div class="side-drawer__content-container">
        <div class="side-drawer__close" id="close-btn">
            <span class="x-close"></span>
        </div>
        <div class="side-drawer__header-container">
            <a href="#" class="side-drawer__profile-link">My Profile</a>
            <div class="side-drawer__svg"></div>
            <a href="#" class="side-drawer__hotel-link">White Sands Resort<br>on Koh Samet, Suratthani, Thailand</a>
        </div>
        <hr class="side-drawer__hr" />
        <ul class="side-drawer__nav">
            <li class="side-drawer__nav-item"><a href="#" class="side-drawer__nav-link side-drawer__nav-link--active">Resort Overview</a></li>
            <li class="side-drawer__nav-item"><a href="#" class="side-drawer__nav-link">Accomodations</a></li>
            <li class="side-drawer__nav-item"><a href="#" class="side-drawer__nav-link">Photos & Videos</a></li>
            <li class="side-drawer__nav-item"><a href="#" class="side-drawer__nav-link">Activities</a></li>
        </ul>
        <hr class="side-drawer__hr" />
        <h5 class="side-drawer__sub-title">More from White Sands Resort on Koh Samet</h5>
        <ul class="side-drawer__nav side-drawer__nav--secondary">
            <li class="side-drawer__nav-item--secondary"><a href="#" class="side-drawer__nav-link">Services &amp; Amenities</a></li>
            <li class="side-drawer__nav-item--secondary"><a href="#" class="side-drawer__nav-link">Dining</a></li>
            <li class="side-drawer__nav-item--secondary"><a href="#" class="side-drawer__nav-link">Spa</a></li>
            <li class="side-drawer__nav-item--secondary"><a href="#" class="side-drawer__nav-link">Weddings &amp; Events</a></li>
            <li class="side-drawer__nav-item--secondary"><a href="#" class="side-drawer__nav-link">Location</a></li>
            <li class="side-drawer__nav-item--secondary"><a href="#" class="side-drawer__nav-link">Contact Us</a></li>
        </ul>
    </div>
</div>