.accomodations__carousel-img {
    height: 50rem;
    width: 100%;
}

.featured-section {
    background-color: var(--color-black);
    padding-top: 9rem;
    color: var(--color-white);
    height: 115rem;
}

.featured-section__headings {
    width: 100%;
}

.featured-section__title {
    font-size: var(--page-heading);
    margin: 0 auto;
    text-align: center;
    margin-top: var(--margin-medium);
}

.featured-section__subheading {
    font-size: var(--section-heading);
    margin: 0 auto;
    text-align: center;
    display: block;
    margin-top: var(--margin-small);
    margin-bottom: var(--margin-small);
}

.room-types {
    width: 90rem;
    margin: 0 auto;
}

.filter {
    margin-top: var(--margin-large);
    margin-bottom: var(--margin-large);
    padding: 3rem 0;
    border-top: 1px solid var(--color-black);
    border-bottom: 1px solid var(--color-black);
    display: flex;
    justify-content: space-around;
}

.filter__option {
    text-transform: uppercase;
    font-family: var(--font-sans);
    font-size: 1.4rem;
    letter-spacing: .2rem;
    width: 20rem;
    border: none;
    background: none;
}

.filter__option:hover {
    cursor: pointer;
    color: var(--color-grey);
}

.room-type {
    display: none;
}

.show-room-type {
    display: block;
}


.room {
    display: flex;
    margin-bottom: 7.5rem;
}

.room__img {
    width: 41rem;
    object-fit: cover;
}

.room__info-container {
    padding-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.room-text {
    display: flex;
    flex-direction: column;
}

.room-text__item-container {
    display: flex;
    align-items: flex-start;
}

.room-text__item {
    margin-bottom: 2.5rem;
    font-size: 1.3rem;
}

.room-text__item-svg {
    width: 1.9rem;
    margin-right: 2.5rem;
    margin-top: -.2rem;
}

.room__check-rates-btn {
    margin-right: 2rem;
}

.amenities {
    display: block;
    margin: 0 auto;
    margin-top: 12rem;
    margin-bottom: 5rem;
    width: 90rem;
}

.amenities__heading {
    margin-top: 5rem;
    margin-bottom: 3rem;
    margin-left: 2rem;
}

.amenities__icons-container {
    display: flex;
    justify-content:space-between;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 5rem;
}

.amenity {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 8rem;
}

.amenity__icon {
    width: 3.5rem;
    margin-bottom: 2.3rem;
}

.amenity__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2rem;
}

.policies {
    display: block;
    margin: 0 auto;
    width: 60rem;
    margin-top: 12rem;
    margin-bottom: 16rem;
}

.policies__heading {
    text-align: center;
    margin-bottom: 8rem;
}

.policy__container {
    border-top: 1px solid var(--color-black);
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;
}

.policy-btn {
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    margin-top: 4rem;
    font-weight: 600;
}

.policy-btn:hover {
    cursor: pointer;
    color: var(--color-grey);
}

.policy-btn__icon {
    width: 2rem;
}

.policy-btn__plus {
    font-size: 2rem;
}

.policy-btn--close {
    display: none;
}

.policy {
    display: flex;
    align-items: flex-end;
    transition: height 1s;
    height: 0px;
}

.policy--check-in {
    height: 5.5rem;
}

.policy--early-arrivals {
    height: 15.5rem;
}

.policy--credit-cards {
    height: 5.5rem;
}

.policy--family-plan {
    height: 15.5rem;
}

.policy__text--hide {
    visibility: hidden;
    opacity: 0;
}

.policy__text--show {
    visibility: visible;
    transition: all 1s .2s;
    opacity: 1;
}

.hide-chevron-down {
    display: none;
}

/*/////////////////////////////*/
/* media queries */
/*/////////////////////////////*/

@media only screen and (max-width: 1000px) {
    .accomodations__carousel-img {
        height: 40rem;
    }
}

@media only screen and (max-width: 950px) {
    .filter {
        flex-direction: column;
        align-items: center;
    }

    .filter__option {
        width: 100%;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }

    .room {
        flex-direction: column;
        align-items: center;
    }

    .room-types {
        max-width: 100%;
    }

    .room__info-container {
        width: 41rem;
        padding-left: unset;
        margin-top: 2rem;
    }

    .room__heading {
        margin-bottom: 2rem;
    }

    .amenities {
        max-width: 100%;
    }

    .discount__hr {
        width: 100%;
    }
}
@media only screen and (max-width: 800px) {
    .accomodations__carousel-img {
        height: 30rem;
    }

    .accomodations__details-heading {
        width: 100%;
    }

    .accomodations__details-text {
        width: 100%;
    }
    .featured-section {
        height: unset;
        padding-bottom: 16rem;
    }

    .amenities__heading {
        margin-left: unset;
        text-align: center;
    }
    .amenity {
        margin-bottom: 3rem;
    }

    .amenities__icons-container {
        width: 38.5rem;
        flex-wrap: wrap;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 650px) {
    .policies {
        width: 100%;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    
}

@media only screen and (max-width: 500px) {
    .accomodations__carousel-img {
        height: 20rem;
    }

    .policy--early-arrivals {
        height: 19.5rem;
    }

    .policy--family-plan {
        height: 23.5rem;
    }

    .room__img {
        width: 30rem;
    }

    .room__info-container {
        width: 30rem;
    }

    .policy-btn {
        text-align: left;
    }

    .amenities__icons-container {
        width: 80%;
    }
}

@media only screen and (max-width: 350px) {
    .policy--early-arrivals {
        height: 25.5rem;
    }

    .policy--family-plan {
        height: 28rem;
    }
}