@page
@model WhiteSandsMVC.Pages.Admin.ArrivalsModel
@{
    ViewBag.Title = "Admin - Arrivals";
}
<div class="admin-heading">
    <h1 class="h1-heading">Today's Arrivals</h1>
</div>

<table id="DT_load" class="admin-table nowrap hover row-border order-column">
    <thead>
        <tr>
            <th>Booking ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Check-in</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>


@section Scripts{
    <script asp-append-version="true" type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>        
    <script asp-append-version="true" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>                         
    <script asp-append-version="true" src="~/js/admin/arrivals.js"></script>
}