@page
@model WhiteSandsMVC.Pages.Admin.DeparturesModel
@{
    ViewBag.Title = "Admin - Departures";
}
<div class="admin-heading">
    <h1 class="h1-heading">Today's Departures</h1>
</div>

<table id="DT_load" class="admin-table nowrap hover row-border order-column">
    <thead>
        <tr>
            <th>Booking ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Check Out</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>


@section Scripts{
    <script asp-append-version="true" type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/js/admin/departures.js" asp-append-version="true"></script>
}