.small-btn {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.4rem;
    color: var(--color-black);
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    font-weight: 400;
    text-transform: uppercase;
    transition: color .5s;
    letter-spacing: .1rem;
}

    .small-btn:hover {
        color: var(--color-grey);
    }

.small-btn--inverse {
    color: var(--color-white);
    border-bottom: 1px solid var(--color-white);
}

.large-btn {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.4rem;
    color: var(--color-white);
    text-decoration: none;
    background-color: var(--color-black);
    text-transform: uppercase;
    padding: 1.1rem 2.5rem;
    letter-spacing: .1rem;
    border: 1px solid var(--color-black);
    transition: background-color .7s;
}
    .large-btn:hover {
        background-color: var(--color-white);
        color: var(--color-black);
        cursor: pointer;
    }

.large-btn--inverse {
    color: var(--color-black);
    background-color: var(--color-white);
}

    .large-btn--inverse:hover {
        cursor: pointer;
        color: var(--color-white);
        border: 1px solid var(--color-white);
        background-color: var(--color-black);
    }

.large-btn--check-rates {
    width: 24rem;
    margin-right: 3rem;
    margin-left: 6rem;
    text-transform: uppercase;
}

    .large-btn--check-rates:hover {
        background-color: #303030;
    }