.accomodations {
    position: relative;
}

.accomodations__large-btn {
    display: none;
}

.carousel-cell.is-selected .accomodations__large-btn {
    display: block;
    align-self: flex-end;
    margin-top: -.3rem;
    position: absolute;
    width: fit-content;
}

.accomodations__small-btn--mobile {
    display: none;
}

.accomodations__large-btn--mobile {
    display: none;
}

.accomodations__details-container {
    visibility: hidden;
    display: flex;
    flex-direction: column;
}

.carousel-cell.is-selected .accomodations__details-container {
    visibility: visible;
}

.accomodations__details-heading {
    margin-bottom: 1rem;
    margin-top: 2.5rem;
    width: 50%;
}

.accomodations__details-text {
    width: 50%;
}

.accomodations__small-btn {
    margin-top: 2.5rem;
    align-self: flex-start;
}

.accomodations__small-btn--accomodations-controller {
    margin-top: 2.5rem;
    align-self: flex-start;
}

@media only screen and (max-width: 1100px) {
    
}

@media only screen and (max-width: 650px) {
    .carousel-cell.is-selected .accomodations__large-btn {
        display: none;
    }

    .accomodations__details-heading {
        width: 100%;
    }

    .accomodations__small-btn {
        display: none;
    }

    .accomodations__small-btn--mobile {
        display: block;
        margin-top: 3rem;
        width: fit-content;
    }

    .accomodations__large-btn--mobile {
        display: block;
        margin-top: 2rem;
        width: fit-content;
    }

    .accomodations__details-text {
        width: 100%;
    }

    .flickity-viewport {
        height: 484.51px;
    }
}