.verify-stay-page-heading {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 3rem;
}

.verify-stay-h2-heading {
    font-size: 2.2rem;
    font-weight: 300;
    letter-spacing: .15rem;
    margin-bottom: 1.8rem;
    text-transform: uppercase;
    margin-top: 2rem;
}

.verify-stay-wrapper {
    display: flex;
    width: 100%;
}

.verify-stay-guest-info {
    margin-right: 15rem;
    width: 40rem;
}

.verify-stay-heading-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.verify-stay-edit-entry {
    font-size: 1.4rem;
    margin-left: 3rem;
    color: #000;
    text-decoration: underline;
}

.verify-stay-edit-entry:hover {
    cursor: pointer;
    color: var(--color-grey);
}

.verify-stay-row-info {
    font-family: var(--font-sans);
    font-size: 1.4rem;
}

.verify-stay-row {
    margin-bottom: 1.8rem;
}

.verify-stay-heading {
    letter-spacing: .15rem;
    margin-bottom: .5rem;
    font-size: 1.4rem;
}

.verify-stay-room-info {
    width: 40rem;
}

.verify-stay-buttons {
    width: 95rem;
    display: flex;
    justify-content: space-between;
}