.mobile-nav {
    background-color: var(--color-white);
    display: none;
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 100;
    border-bottom: 1px solid var(--color-grey);
    align-items: center;
}

.mobile-nav__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;
}

.mobile-nav__svg {
    -webkit-mask-image: url(/images/svg/palm1.svg);
    -webkit-mask-size: cover;
    background-color: var(--color-black);
    height: 5rem;
    width: 5rem;
}

.mobile-nav_btn-container {
    margin: 0 4rem 0 auto;
    display: flex;
    flex-direction: column;
}

.mobile-nav__open {
    height: 2rem;
    width: 3.2rem;
    position: relative;
    margin-right: 3rem;
}

    .mobile-nav__open:hover {
        color: var(--color-grey);
        cursor: pointer;
    }

    .mobile-nav__open:hover .hamburger {
        background: var(--color-grey);
    }

        .mobile-nav__open:hover .hamburger::after {
            background: var(--color-grey);
        }

        .mobile-nav__open:hover .hamburger::before {
            background: var(--color-grey);
        }

.hamburger {
    display: block;
    position: relative;
}

    .hamburger,
    .hamburger::before,
    .hamburger::after {
        position: absolute;
        width: 3em;
        height: 2px;
        background: var(--color-black);
        transition: all .5s;
    }

        .hamburger::before,
        .hamburger::after {
            content: "";
            left: 0;
        }

.hamburger {
    top: 10px;
}

    .hamburger::before {
        bottom: 8px;
    }

    .hamburger::after {
        top: 8px;
    }

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    z-index: -101;
    transition: opacity .5s;
}

.backdrop-open {
    opacity: .75;
    background-color: var(--color-black);
    z-index: 101;
}

/*//////////////////////////*/
/* side drawer */
/*//////////////////////////*/
.side-drawer {
    background-color: var(--color-white);
    height: 100vh;
    width: 470px;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: all .5s;
    z-index: 102;
    overflow: scroll;
    display: none;
}

.side-drawer__content-container {
    margin-right: 3rem;
}
.side-drawer__close {
    position: absolute;
    right: 3rem;
    top: 3rem;
    height: 2.3rem;
    width: 2.5rem;
}
.side-drawer__close:hover {
    cursor: pointer;
}

.side-drawer__header-container {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-left: 4rem;
}

.side-drawer__profile-link {
    font-family: var(--font-sans);
    color: var(--color-dark-grey);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    margin-bottom: 4rem;
    transition: color .5s;
}
    .side-drawer__profile-link:hover {
        color: var(--color-grey);
    }

.side-drawer__svg {
    -webkit-mask-image: url(/images/svg/palm1.svg);
    -webkit-mask-size: cover;
    background-color: var(--color-black);
    height: 7rem;
    width: 7rem;
}

.side-drawer__hotel-link {
    font-family: "Tangerine", sans-serif;
    font-size: 4.5rem;
    color: var(--color-dark-grey);
    text-decoration: none;
    margin: 3rem 0;
    transition: color .5s;
}
.side-drawer__hotel-link:hover {
    color: var(--color-grey);
}

.side-drawer__hr {
    border: none;
    width: 398px;
    height: 1px;
    background-color: var(--color-grey);
    margin: 0 auto;
}

.side-drawer__nav {
    margin-left: 4rem;
    margin-top: 3.5rem;
    list-style: none;
}

.side-drawer__nav--secondary {
    margin-bottom: 6rem;
}

.side-drawer__nav-item {
    padding-bottom: 3.5rem;
}

.side-drawer__nav-item--secondary {
    padding-bottom: 2rem;
}

.side-drawer__nav-link {
    text-decoration: none;
    font-family: var(--font-sans);
    font-size: 1.8rem;
    color: var(--color-black);
    letter-spacing: .2rem;
    transition: color .5s;
}
.side-drawer__nav-link:hover {
    color: var(--color-grey);
}
.side-drawer__nav-link--active {
    text-decoration: underline;
}

.side-drawer__sub-title {
    margin-left: 4rem;
    font-family: var(--font-text);
    font-size: 2.2rem;
    color: var(--color-grey);
    font-style: italic;
    margin-top: 3.5rem;
}

.side-drawer__check-rates-btn {
    text-align: center;
    font-weight: 400;
    margin: 0 auto;
    text-transform: uppercase;
    margin-bottom: 3.5rem;
    width: 100%;
}
/*//////////////////////////*/
/* close side drawer button */
/*//////////////////////////*/
.side-drawer__close:hover .x-close {
    background: var(--color-grey);
}

    .side-drawer__close:hover .x-close::before {
        background: var(--color-grey);
    }

.x-close {
    position: absolute;
    width: 3em;
    height: 1px;
    background: var(--color-black);
    transform: rotate(45deg);
    top: 1rem;
    left: -3px;
    transition: all .5s;
}

    .x-close::before {
        content: '';
        position: absolute;
        width: 3em;
        height: 1px;
        background: var(--color-black);
        transform: rotate(90deg);
        transition: all .5s;
    }

.drawer-open {
    transform: translateX(0);
}

/*//////////////////////////*/
/* media queries */
/*//////////////////////////*/
@media only screen and (max-width: 1100px) {
    .mobile-nav {
        display: flex;
        justify-content: space-between;
    }

    .side-drawer {
        display: unset;
    }
}

@media only screen and (max-width: 470px) {
    .side-drawer {
        width: 90%;
    }
}

@media only screen and (max-width: 400px) {
    .side-drawer {
        width: 100%;
    }

    .side-drawer__hr {
        width: 100%;
    }
}