.nav {
    background-color: transparent;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 100;
    border-bottom: 1px solid var(--color-white);
    transition: background-color .7s;
    align-items: center;
    height: 60px;
}

.nav--black {
    background-color: var(--color-black);
    box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.7);
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;
}

.logo__svg {
    -webkit-mask-image: url(/images/svg/palm1.svg);
    -webkit-mask-size: cover;
    background-color: var(--color-white);
    height: 5rem;
    width: 5rem;
}

.nav__ul {
    list-style: none;
    color: var(--color-white);
    font-size: 1.4rem;
    font-family: var(--font-sans);
    letter-spacing: .1rem;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-evenly;
    padding: 2.5rem 0;
}

.nav__link {
    color: var(--color-white);
    text-decoration: none;
    transition: color .5s;
}
.nav__link:hover {
    color: var(--color-grey);
}

.nav__link--active {
    border-bottom: 1px solid currentColor;
}

@media screen and (max-width: 999px) {
    .nav {
        display: none;
    }
}

/*@media screen and (min-width: 937px)) {
    .nav {
        height: 80px;
    }
}*/