@inject SignInManager<ApplicationUser> signInManager;

<nav class="nav nav--black">
    <div class="nav__left-flex-container">
        <div class="logo">
            <a asp-controller="home" asp-action="index"><div class="logo__svg"></div></a>
        </div>
        <ul class="nav__ul">
            <li><a asp-controller="home" asp-action="index" class="nav__link">Resort Overview</a></li>
            <li><a asp-controller="accomodations" asp-action="index" class=@(ViewBag.Title == "Accomodations" ? "nav__link nav__link--active" : "nav__link")>Accomodations</a></li>
            <li><a href="#" class="nav__link">Photos & Videos</a></li>
            <li><a href="#" class="nav__link">Activities</a></li>
        </ul>
    </div>

    <ul class="nav__right-flex-container nav__right-ul">
        
            @if (signInManager.IsSignedIn(User))
            {
            <li class="profile-menu-li">
                <a asp-controller="profile" asp-action="index" class="nav__link nav__link--profile nav__link--your-profile">Your Profile</a>
                <form method="post" asp-controller="account" asp-action="logout">
                    <button type="submit" class="profile-logout-btn">Sign out</button>
                </form>
            </li>
            }
            else
            {
            <li class="profile-menu-li">
                <a asp-controller="profile" asp-action="index" class="nav__link nav__link--profile">My Profile</a>
            </li>
            }

            <li class="profile-menu-li">
                <a href="#" class="large-btn large-btn--inverse large-btn--check-rates account__check-rates-btn" id="check-rates-open-btn">Check rates</a>
            </li>


        
    </ul>
</nav>