<footer class="reservations-footer">
    <div class="reservations-footer__links-box">
        <div class="reservations-footer__col">
            <h6 class="reservations-footer__heading">More Information</h6>
            <ul class="reservations-footer__ul">
                <li class="reservations-footer__li"><a class="reservations-footer__link" href="#">Press Room</a></li>
                <li class="reservations-footer__li"><a class="reservations-footer__link" href="#">About Us</a></li>                                                                
                <li class="reservations-footer__li"><a class="reservations-footer__link" href="#">Careers</a></li>
            </ul>
        </div>
        <div class="reservations-footer__col">
            <h6 class="reservations-footer__heading">Disclaimer</h6>
            <ul class="reservations-footer__ul">
                <li class="reservations-footer__li"><a class="reservations-footer__link" href="#">Legal Notice</a></li>
                <li class="reservations-footer__li"><a class="reservations-footer__link" href="#">Privacy Policy</a></li>
                <li class="reservations-footer__li"><a class="reservations-footer__link" href="#">Accessibility</a></li>
            </ul>
        </div>
    </div>
    <div class="reservations-footer__copyright-box">
        <span>&copy;White Sands Resort. 2019-2021. Site design inspired by the Four Seasons website.</span>
    </div>
</footer>
