.admin-sb {
    height: 100vh;
    width: 23rem;
    background-color: #ececec;
    position: fixed;
}

.admin-sb-nav {
    margin-top: 9rem;
    width: 100%;
}
.admin-sb-title {
    padding-top: 5.8rem;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    padding-left: 3rem;
}
.admin-sb-ul {
    list-style: none;
    font-size: 1.4rem;
}

.admin-sb-li {
    height: 4rem;
    width: 100%;
}

.admin-sb-li:hover{
    background-color: #ddd;
}

.admin-sb-btn {
    border: none;
    padding-left: 5rem;
    padding-right: 2rem;
    width: 100%;
    height: 100%;
    color: #000;
    display: flex;
    align-items: center;
    background-color: transparent;
    justify-content: space-between;
    font-size: 1.6rem;
    text-decoration: none;
}
.admin-sb-btn:hover {
    background-color: #ddd;
    cursor: pointer;
}

.admin-sb-li--active {
    height: 4rem;
    width: 100%;
    background-color: #ddd;
}

.admin-sb-heading {
    padding-left: 3rem;
    font-size: 1.4rem;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
    color: #afa4a4;
    pointer-events: none;
}

.admin-sb-a {
    padding-left: 5rem;
    width: 100%;
    height: 100%;
    color: #000;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    text-decoration: none;
}


.admin-sb-sub-ul {
    list-style: none;
}

.admin-sb-sub-a {
    padding-left: 7rem;
    width: 100%;
    height: 100%;
    color: #000;
    display: flex;
    font-size: 1.4rem;
    align-items: center;
    text-decoration: none;
}

.admin-sb-bookings-nav {

}