/*.admin {
    padding-top: 9rem;
    width: 1200px;
    margin: 0 auto;
}

.admin-heading {
    margin-top: 5rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 5rem;
}

table#DT_load {
    width: 100%;
    font-size: 1.4rem;
}*/

