.edit-invoice-wrapper {
    width: 70rem;
}

.edit-invoice-charge-input {
    border: 1px solid #000;
    font-size: 1.6rem;
    padding: 1rem;
}

.edit-invoice-remove-btn {
    background: none;
    border: none;
}